- @title = "#{@game.name}:  #{@answer.category.name} for #{@game.reward_for(@answer).score}"
.full_screen
  #answer.content.hidden
    = render_with_code @answer.body
  #question.content
    = render_with_code @answer.question
