!!!
%html
  = render partial: "/head"
  %body
    #peril
      %audio#buzzer-sound-1{:src => "/assets/buzzer-1.wav"}
      %audio#buzzer-sound-2{:src => "/assets/buzzer-2.wav"}
      %audio#buzzer-sound-3{:src => "/assets/buzzer-3.wav"}
      = yield
      #players
        - @game.players.each_with_index do |player, index|
          .player{:id => "player-#{index + 1}"}
            .content
              = number_with_delimiter(player.score)
              %hr/
              %span.player_name= player.name
      #award-points
        - @game.players.each_with_index do |player, index|
          %div.score{id: "score-player-#{index + 1}"}
            %form{action: correct_path(@game, player)}
              %input.correct{type: "submit", value: "&#10003".html_safe}
            %form{action: wrong_path(@game, player)}
              %input.wrong{type: "submit", value: "&#10007".html_safe}
