!!!
%html
  = render partial: "/head"
  %body
    #peril
      %audio#buzzer-sound{:src => "/assets/buzzer.wav"}
      = yield
      #players
        - @game.players.each_with_index do |player, index|
          .player{:id => "player-#{index + 1}"}
            .content
              = player.score
              %hr/
              %span.player_name= player.name
