<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="peril">
      <%= yield %>

      <div id="players">
        <% @game.players.each_with_index do |player, index| %>
          <div class="player" id="player-<%= index + 1 %>">
            <div class="content">
              <%= render_score(player.score, score_path(@game, player)) %>
              <hr>
              <span class="player_name"><%= player.name %></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
